// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions {
  margin: 30px;
  width: 1000px;

  .suggestions {
    margin: 10px 0 10px 20px;
  }

  .form-group {
    width: 50%;
  }

  .question-list, .empty-results {
    margin-top: 20px;
  }

  button.btn.btm-primary {
    width: 50%;
  }

  .btn-delete {
    &:hover {
      cursor: pointer;
    }
  }
}